body{
  min-height: 100vh;
  background-image: url(https://media.istockphoto.com/photos/simple-green-felt-background-picture-id96655837?k=6&m=96655837&s=612x612&w=0&h=rUB1sUqUwd94Q6cDA0D5AspSqLC0GV-3GcpArLS0GYM=);
  background-size: cover;
  font-family: 'Literata', serif;
  font-weight: 200;
}

#cards{
    color: white;
}

#player-current-cards{
  /* width: 100px;
  height: 100px; */
  margin-top: 20px;
  margin-left: -550px;
}

#dealer-current-cards{
  margin-top: 50px;
  margin-left: -1000px;
}

#title{
  font-family: 'Literata', serif;
  font-weight: 600;
  font-size: 50px;
  margin: auto;
  margin-top: 200px;
  margin-left: 500px 500px;
  color: white;
  max-width: 650px;
}

#game-buttons{
  margin-top: 550px;
  margin-left: 20px;
}

#player{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
}

#dealer-hand{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: 450px;
    width: 300px;
    height: 100px;
    font-size: 30px;
}

#dealer-wins{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: 450px;
  width: 300px;
  height: 100px;
  font-size: 30px;
}

#player-hand{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 450px;
  width: 300px;
  height: 100px;
  font-size: 30px;
}

#player-wins{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 250px;
  margin-left: 450px;
  width: 300px;
  height: 100px;
  font-size: 30px;
}

#homepage-buttons{
    color: black;
    position: fixed;
    bottom: 0;
    width: 95%;
    text-align: center;
    margin: 30px;
}

/* Get the Modal itself */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .card{
    width: 150px;
    margin: 20px;
  }